@import url('https://fonts.googleapis.com/css?family=Italianno|Parisienne|Pinyon+Script');

*{
    margin: auto;

}

nav img{
    width: 100px;
}

.img{
    width:250px;
}

body{
    background-image: url("bg-5.png");
}
.bod{
    overflow: hidden;
    background-color: #e9c9e1;

}
.first{

    margin: 70px 0;
}

h1{

    font-family: 'Parisienne', cursive;
    font-size: 2em;

    text-shadow: 2px 2px 0 #bcbcbc;
}
.pdf{
    margin: 25px;
}
iframe{
    width: 400px;
    height: 1000px;


}

.hob{
    margin: 20px;
}

.hob i.plan{
    color: #EE82EE;

}

.hob i.pen , .hob i.cook{
    color: #8dd0ca;

}

.hob i.man , .hob i.women{
    font-size: 1.25em;

}

.hob i.women, .hob i.girl{
    color: #EE82EE;

}

.hob i.man, .hob i.boy{
    color: #6A5ACD;

}
.hob a{
    text-decoration: none;
}

#travel h2, #family h2, #writing h2, #cookink h2{
    font-family: 'Pinyon Script', cursive;
    color: #666666;
    font-size: 2em;
    text-decoration: underline #898989;
}


#travel p{
    color: #666666;
}

#travel h3{
    margin: 20px 0;
    font-family: 'Pinyon Script', cursive;
    color: #666666;
    font-size: 2.5em;
    text-decoration: underline #898989;
}

#travel img{
    width: 50%;
}
#travel, #family, #writing, #cookink{
    margin: 30px;
}
/*Carosel //////////////////////////////////////////////////////////////*/


div#carousel {
    perspective: 1200px;
    background: #100000;
    padding-top: 10%;
    font-size:0;
    margin-bottom: 3rem;
    overflow: hidden;
}
figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}
figure#spinner img {
    width: 40%; max-width: 425px;
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); height: 270px }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); height: 270px }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }




div#carousel1 {
    perspective: 1200px;
    background: #100000;
    padding-top: 10%;
    font-size:0;
    margin-bottom: 3rem;
    overflow: hidden;
}
figure#spinner1 {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}
figure#spinner1 img {
    width: 40%; max-width: 425px;
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent;
}
figure#spinner1 img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner1 img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner1 img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner1 img:nth-child(4) { transform: rotateY(-135deg); height: 270px; }
figure#spinner1 img:nth-child(5){ transform: rotateY(-180deg); height: 270px;}
figure#spinner1 img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner1 img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner1 img:nth-child(8){ transform: rotateY(-315deg); height: 270px;}
div#carousel1 ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0; }
div#carousel1 ~ span:hover { color: #888; cursor: pointer; }


.container1 {
    position: relative;
    height:50vh;

    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover
}
.c1 {
    background-image:url(p22.jpg);
}


.gallery {
    margin: 100px auto 50px;
    width: 800px;
}
.gallery a {
    display: inline-block;
    height: 135px;
    position: relative;
    width: 180px;

    /* CSS3 Prevent selections */
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.gallery a img {
    border: 8px solid #fff;
    border-bottom: 20px solid #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;

    /* CSS3 Box sizing property */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;

    /* CSS3 Box Shadow */
    -moz-box-shadow: 2px 2px 4px #444;
    -webkit-box-shadow: 2px 2px 4px #444;
    -o-box-shadow: 2px 2px 4px #444;
    box-shadow: 2px 2px 4px #444;
}

/* Custom CSS3 rotate transformation */
.gallery a:nth-child(1) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.gallery a:nth-child(2) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.gallery a:nth-child(3) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.gallery a:nth-child(4) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.gallery a:nth-child(5) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.gallery a:nth-child(6) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.gallery a:nth-child(7) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
.gallery a:nth-child(8) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.gallery a:nth-child(9) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.gallery a:nth-child(10) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.gallery a:nth-child(11) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}
.gallery a:nth-child(12) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.gallery a:focus img {
    cursor: default;
    height: 250%;
    left: -150px;
    top: -100px;
    position: absolute;
    width: 250%;
    z-index: 25;

    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;

    /* CSS3 transform rules */
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}


/*footer////////////////////////////////////////////////////*/
footer{
    overflow: hidden;
    padding: 20px 70px;
    background-color: #8a8a8a;
}
.foot span{
    margin-left: 10px;
    color: whitesmoke;

}

.mail, .plus, .right{
    color: #ebc7e1;

}

.click{
    padding-left: 20px;
    padding-top: 10px;

}

.click a{
    text-decoration: none;
    color: #8cd1ce;

}

.click a:hover{
    font-size: 1.2em;
    color: #ebc7e1;

}

.social{
    padding-left: 7px;

    font-size: 1.3em;
}
.social a{
    text-decoration: none;
}

.social a:hover{
    font-size: 1.4em;
}

.face{
    color: #4e69a2;
}
.twitter{
    color: #1da1f2;
}
.git{
    color: #24292e;
}
.ins{
    color: #262626;
}

/*Form /////////////////////////////////////////*/



form {
    border-radius: 5px;
    max-width:700px;
    width:100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
}

h1.form {

    background: #F6AA93 none repeat scroll 0% 0%;
    color: #666;
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align:left;

    font-size: 1.2em;

}



input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration:inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
}

i {
    color:#555;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact{
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}

.leftcontact {
    width:49.5%;
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}

.validation {

    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
}

#sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
    display:block;
}

/* project*/


.comic {
    display:flex;
    flex-wrap:wrap;
    font-family:'Comic Sans', cursive;
    padding:1vmin;
    margin: 20px;
}

/*.comic h4{*/
    /*font-family: 'Parisienne', cursive;*/
    /*font-weight: bold;*/
/*}*/

.comic-one h2{
    padding: 20px 20px 0;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    color: #666;
    text-shadow: 2px 2px 0 #bcbcbc;
    text-decoration: underline #898989;
}
.feather{
    padding-left: 10px;
    font-size: 2em;
}

.pro{
    padding-top: 30px;
    padding-left: 30px;
    color: #666666 ;
}

.pro p{
    color: purple;
}

.pro-one{
    padding-top: 55px;
    padding-left: 5px;
    color:purple;
}

.pro-two{
    text-align: center;

    font-size: 4em;
    color: #666666 ;
}

.pro img{
    border: dotted 3px #666;
    width: 100px;
    transform: rotate(20deg);
}

.qu{
    font-size: 1.5em;
    transform: rotate(15deg);
}

.arabic{

    padding-left: 10px;
    color:purple;
}



.pro-three p{
    color:purple;
}
.egypt{
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}
.egypt img{
    width: 120px;
    height: 140px;
    -webkit-filter: grayscale(150%);
    filter: grayscale(150%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.egypt img:hover{

    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    width: 130px;
    height: 150px;

}

.pro-four{
    text-align: center;

    font-family: 'Italianno', cursive;
    font-size: 3em;

}
.pro-four p{
    padding-left: 150px;
    margin-top: -15px;
    color: #666666;

}

.pro-four img{
    margin-right: 100px;

    margin-top: -25px;
    width: 170px;

    -webkit-filter: opacity(100%);
    filter: opacity(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.pro-four img:hover{

    -webkit-filter: opacity(70%);
    filter: opacity(70%);
    width: 180px;

}

.ancient{
    text-align: center;
    padding-top: 60px;
}

.ancient p{
    color: purple;
}

.it{
    padding-top: 30px;
}

.it h4{
    padding-left: 20px;
    text-decoration: underline #898989;
    color: #666666;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 2em;
}

.pro-five{
    text-align: center;
    color: purple;
}

.pro-five i{
    font-size: 1.5em;
}

.php , .infin{
    padding-top: 2px;
}


.panel {
    background-color:#fff;
    border:solid 2px #000;
    box-shadow:0 6px 6px -6px #000;
    display:inline-block;
    flex:1 1;
    height:200px;
    margin:1vmin;
    overflow:hidden;
    position:relative;
}

.text {
    background-color:#fff;
    border:solid 2px #000;
    margin:0;
    padding:3px 10px;
}

.top-left {
    left:-6px;
    position:absolute;
    top:-2px;
    transform:skew(-15deg);
}

.bottom-right {
    bottom:-2px;
    position:absolute;
    right:-6px;
    transform:skew(-15deg);
}

.speech {
    background-color:#fff;
    border:solid 2px #000;
    border-radius:12px;
    display:inline-block;
    margin:2em;
    padding:1em 1.5em;
    position:relative;
}

.speech:before {
    border:solid 12px transparent;
    border-left:solid 12px #000;
    border-top:solid 12px #000;
    bottom:-24px;
    content:"";
    height:0;
    left:24px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
}

.speech:after {
    border:solid 10px transparent;
    border-left:solid 10px #fff;
    border-top:solid 10px #fff;
    bottom:-19px;
    content:"";
    height:0;
    left:27px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
}

.panel:nth-child(1) {
    flex-basis: 400px;
}
.panel:nth-child(2) {
    flex-basis: 200px;
}
.panel:nth-child(3) {
    flex-basis: 200px;
}
.panel:nth-child(4) {
    flex-basis: 200px;
}
.panel:nth-child(5) {
    flex-basis: 200px;
}
.panel:nth-child(6) {
    flex-basis: 200px;
}
.panel:nth-child(7) {
    flex-basis: 400px;
}
.panel:nth-child(8) {
    flex-basis: 200px;
}
.panel:nth-child(9) {
    flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
    background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
    background-image:radial-gradient(circle, lightblue, mediumslateblue);
}

.panel:nth-child(4n+3) {
    background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
    background-image:radial-gradient(circle, lightcoral, tomato);
}
@media (min-width: 768px) {

    *{
        max-width: 700px;
        margin: auto;
    }

    .bod{
        max-width: 700px;

    }

    iframe{
        width: 700px;

    }
    .img{
        width:350px;
    }

    h1{
        margin-bottom: 70px;
        margin-right: 70px;
        font-family: 'Parisienne', cursive;
        font-size: 3em;
    }
    .row1{
        margin: 100px 0;

    }

    .button-circle.nr3{
        margin-top: 0px;
        margin-left: 0px;
    }

    h1.form {

        font-size: 1.6em;

    }

    .foot{
        margin-left: 50px;

    }



}


@media (min-width: 992px) {

    *{
        max-width: 950px;
        margin: auto;
    }

    .bod{
        max-width: 950px;
        overflow: hidden;

    }
    iframe{
        width: 900px;


    }
}


@media (min-width: 1200px) {  }








/* Enter //////////////////////////////////////////////////////////////////////////*/

.enter {
    background: #042B38;
    height: 100%;
    margin: 0 auto;
}
.navi {
    position: absolute;
    height: 300px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 40px;
    animation: voo 6s ease-in-out infinite;
}

@keyframes voo{
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-45px);}
}

.corpo{
    position: absolute;
    height: 90px;
    width: 90px;
    background: #D5EDF5;
    border-radius: 50%;
    top: 100px;
    left: 50%;
    opacity: 0.98;
    margin-left: -45px;
    box-shadow: 0 0 20px #A08BF7,
    0 0 40px rgba(187, 177, 230, 1),
    0 0 60px rgba(187, 177, 230, 0.6),
    0 0 80px rgba(187, 177, 230, 0.9),
    0 0 30px 70px rgba(250, 232, 130, 0.1);
    animation: cresce 1s infinite;
    text-align: center;
    padding-top: 25px;
    font-family: 'Parisienne', cursive;

    font-size: 1.5em;


}

.my-world{
    text-align: center;
    padding-top: 300px;
    padding-left: 50px;
}

.my-world span{
    color: antiquewhite;
    padding-right: 50px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
}

.corpo a{
    color: darkred;
    text-decoration: none;
}

@keyframes cresce {
    50% {transform: scale(1.04);}
}

.asa-g-e{
    position: absolute;
    height: 95px;
    width:65px;
    background: #fff;
    border-radius: 100% 5px 100% 10%;
    top:18px ;
    left:195px;
    transform: rotate(-45deg);
    opacity: 0.7;
    box-shadow: 0 0 40px rgba(187, 177, 230, 1);
    animation: asa 3s infinite;
    transform-origin: 50% 100%;
}

@keyframes asa {
    0% {transform: rotate(-65deg);}
    12.5% {transform: rotate(-90deg);}
    25% {transform: rotate(-65deg);}
    50% {transform: rotate(-90deg);}
    100% {transform: rotate(-65deg);}

}

.asa-g-d{
    position: absolute;
    height: 95px;
    width:65px;
    background: #fff;
    border-radius: 5px 100% 10%;
    top:18px;
    left:238px;
    opacity: 0.7;
    box-shadow: 0 0 40px rgba(187, 177, 230, 1);
    animation: asa-e 3s infinite;
    transform-origin: 50% 100%;
}

@keyframes asa-e{
    0% {transform: rotate(65deg);}
    12.5% {transform: rotate(90deg);}
    25% {transform: rotate(65deg);}
    50% {transform: rotate(90deg);}
    100% {transform: rotate(65deg);}

}

.asa-p-e{
    position: absolute;
    height: 40px;
    width:30px;
    background: #fff;
    border-radius: 180% 30% 130% 25%;
    top:178px;
    left:202px;
    opacity: 0.7;
    box-shadow: 0 0 40px rgba(187, 177, 230, 1);
    animation: asa-p-e 3s linear infinite;
    transform-origin: 100% 0%;
}

@keyframes asa-p-e {
    0% {transform: rotate(15deg);}
    12.5% {transform: rotate(30deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(30deg);}
    100% {transform: rotate(15deg);}

}

.asa-p-d{
    position: absolute;
    height: 40px;
    width:30px;
    background: #fff;
    border-radius: 30% 180% 25% 130%;
    top:174px ;
    left:266px;
    opacity: 0.7;
    box-shadow: 0 0 40px rgba(187, 177, 230, 1);
    animation: asa-p-d 3s linear infinite;
    transform-origin: 50% 0%;
}

@keyframes asa-p-d {
    0% {transform: rotate(-15deg);}
    12.5% {transform: rotate(-30deg);}
    25% {transform: rotate(-15deg);}
    50% {transform: rotate(-30deg);}
    100% {transform: rotate(-15deg);}
}

/* button ////////////////////////////////////////////////*/

.button-circle {
    width: 120px; height: 120px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    border-radius: 100%;
    float: left;
}

.button {
    background:#FFE4E1;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 4px;
    padding-top: 30px;
}

.button:hover{
    background: #bd769f;
    background: -moz-linear-gradient(-45deg,  #bd328f 0%, #bd328f 18%, #8cd1ce 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bd328f), color-stop(18%,#bd328f), color-stop(42%,#2976ab), color-stop(62%,#292f75), color-stop(82%,#bd328f), color-stop(100%,#bd328f));
    background: -webkit-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
    background: -o-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
    background: -ms-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
    background: linear-gradient(135deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);

}

.button-circle .button {
    width: 114px; height: 114px;
    border-radius: 100%;
}

.button a{
 text-decoration: none;
    color: #042B38;
}
.button a:hover{
    text-decoration: none;
    color: whitesmoke;
}

.nr3{
    margin-top: 20px;
    margin-left: 80px;
}






.gradient, .gradient:after {
    display: block;
    content: "";
    width: 420px; height: 140px;
    background: #bd328f;
    background: -moz-linear-gradient(-45deg,  #bd328f 0%, #bd328f 18%, #8cd1ce 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bd328f), color-stop(18%,#bd328f), color-stop(42%,#2976ab), color-stop(62%,#292f75), color-stop(82%,#bd328f), color-stop(100%,#bd328f));
    background: -webkit-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
    background: -o-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
    background: -ms-linear-gradient(-45deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
    background: linear-gradient(135deg,  #bd328f 0%,#bd328f 18%,#8cd1ce 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
}

.gradient {
    animation: 8s anim linear infinite;
}

.gradient:after {
    transform: translateX(400px);
}

@keyframes anim{
    0% {transform: translateX(0px) ;}
    100% {transform: translateX(-400px) ;}
}
